<%- include("photographyHeader") -%>

  <div class="container gallery-container">
    <h1>LOCKDOWN</h1>
    <ul class="nav justify-content-center">
      <li class="nav-item">
        <a class="nav-link" href="/photography">Overview</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/foreign">Foreign</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/berlinWall">Berlin Wall</a>
      </li>
    </ul>

    <div class="tz-gallery">

      <div class="row">
        <% let imgCounts = 37; %>
        <% for(let i = 1; i <= imgCounts; i++){ %>
          <% if(i === 9){ %>
            <div class="col-sm-12">
          <% } else { %>
            <div class="col-sm-6">
          <% } %>
            <% let currImg = "images/photography/Corona/lockdown_" + i + ".jpg" %>
            <a class="lightbox" href=<%= currImg %>>
              <img class="thumbnail" src=<%= currImg %>>
            </a>
          </div>
        <% } %>


      </div>

    </div>

  </div>

<%- include("photographyFooter") -%>
