<%- include("photographyHeader") -%>

<div class="container gallery-container">
  <h1>OVERVIEW</h1>
  <ul class="nav justify-content-center">
    <li class="nav-item">
      <a class="nav-link" href="/lockdown">Lockdown</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/foreign">Foreign</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/berlinWall">Berlin Wall</a>
    </li>
  </ul>

<% const projects = ["Corona", "Foreigner", "Berlin_Wall"]; %>
<% const imgNamePrefix = ["lockdown_", "foreigner_", "berlinWall_"]; %>
<% const imgCounts = [37, 10, 13]; %>

<% let allPaths = []; %>
<% for(let i = 0; i < projects.length; i++) { %>
  <% for(let j = 1; j < (imgCounts[i] + 1); j++){ %>
    <% let currPath = "images/photography/" + projects[i] + "/" + imgNamePrefix[i] + j + ".jpg" %>
    <% allPaths.push(currPath); %>
  <% } %>
<% } %>

<% let randomPathIndex = 0 %>
<% let path = "" %>


  <div class="tz-gallery">

    <div class="row">

      <% for(let i = 0; i < 15; i++){ %>
        <!-- code for animation .image _blank zoom zoom-image -->
        <div class="col-sm-12 col-md-4">
          <% randomPathIndex = Math.floor(Math.random() * allPaths.length) %>
          <% path = allPaths[randomPathIndex] %>
          <a class="lightbox" href=<%= path %>>
            <img class="thumbnail" src=<%= path %> alt="Fong's Photography image">
          </a>
        </div>

        <% allPaths.splice(randomPathIndex, 1) %>
      <% } %>

    </div>

  </div>

</div>

<%- include("photographyFooter") -%>
