<%- include("header") -%>

<body class="photography">
  <nav class="navbar navbar-expand-lg navbar-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="/"><img src="images/logoCircle.svg" alt="Logo" width="48" height="48"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse txt-center" id="navbarNavDropdown">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="/">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/webProjects">Design Projects</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="#">Photography</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/contact">Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

<div class="container gallery-container">
  <h1>OVERVIEW</h1>
  <ul class="nav justify-content-center">
    <li class="nav-item">
      <a class="nav-link" href="/lockdown">Lockdown</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/foreign">Foreign</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/berlinWall">Berlin Wall</a>
    </li>
  </ul>

<% const projects = ["lockdown", "Foreigner", "Berlin_Wall"]; %>
<% const imgNamePrefix = ["lockdown_", "foreigner_", "berlinWall_"]; %>
<% const imgCounts = [37, 10, 13]; %>

<% let allPaths = []; %>
<% for(let i = 0; i < projects.length; i++) { %>
  <% for(let j = 1; j < (imgCounts[i] + 1); j++){ %>
    <% let currPath = "images/photography/" + projects[i] + "/" + imgNamePrefix[i] + j + ".jpg" %>
    <% allPaths.push(currPath); %>
  <% } %>
<% } %>

<% let randomPathIndex = 0 %>
<% let path = "" %>


  <div class="tz-gallery">

    <div class="row">

      <% for(let i = 0; i < 15; i++){ %>
        <!-- code for animation .image _blank zoom zoom-image -->
        <div class="col-sm-12 col-md-4">
          <% randomPathIndex = Math.floor(Math.random() * allPaths.length) %>
          <% path = allPaths[randomPathIndex] %>
          <a class="lightbox" href=<%= path %>>
            <img class="thumbnail" src=<%= path %> alt="Fong's Photography image">
          </a>
        </div>

        <% allPaths.splice(randomPathIndex, 1) %>
      <% } %>

    </div>

  </div>

</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.8.1/baguetteBox.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
<script>
  baguetteBox.run('.tz-gallery');
</script>
</body>

<%- include("footer") -%>
