<%- include("photographyHeader") -%>

<div class="container gallery-container">
  <h1>OVERVIEW</h1>
  <ul class="nav justify-content-center">
    <li class="nav-item">
      <a class="nav-link" href="/lockdown">Lockdown</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/foreigner">Foreigner</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/berlinWall">Berlin Wall</a>
    </li>
  </ul>

  <div class="tz-gallery">

    <div class="row">

      <div class="col-sm-12 col-md-4">
        <a class="lightbox" href="images/photography/Unuseful stuff/Ling-Hao in my room surrounding by his stuff.jpg">
          <img class="thumbnail" src="images/photography/Unuseful stuff/Ling-Hao in my room surrounding by his stuff.jpg">
        </a>
      </div>
      <div class="col-sm-6 col-md-4">
        <a class="lightbox" href="images/photography/Foreigner/foreigner_9.jpg">
          <img class="thumbnail" src="images/photography/Foreigner/foreigner_9.jpg">
        </a>
      </div>
      <div class="col-sm-6 col-md-4">
        <a class="lightbox" href="images/photography/Foreigner/foreigner_1.jpg">
          <img class="thumbnail" src="images/photography/Foreigner/foreigner_1.jpg">
        </a>
      </div>
      <div class="col-sm-12 col-md-8">
        <a class="lightbox" href="images/photography/Berlin_Wall/berlinWall_2.jpg">
          <img class="thumbnail" src="images/photography/Berlin_Wall/berlinWall_2.jpg">
        </a>
      </div>
      <div class="col-sm-6 col-md-4">
        <a class="lightbox" href="images/photography/Corona/lockdown_2.jpg">
          <img class="thumbnail" src="images/photography/Corona/lockdown_2.jpg">
        </a>
      </div>
      <div class="col-sm-6 col-md-4">
        <a class="lightbox" href="images/photography/Foreigner/foreigner_8.jpg">
          <img class="thumbnail" src="images/photography/Foreigner/foreigner_8.jpg">
        </a>
      </div>
      <div class="col-sm-6 col-md-4">
        <a class="lightbox" href="images/photography/Corona/lockdown_15.jpg">
          <img class="thumbnail" src="images/photography/Corona/lockdown_15.jpg">
        </a>
      </div>
      <div class="col-sm-6 col-md-4">
        <a class="lightbox" href="images/photography/Lale/FON00900.jpg">
          <img class="thumbnail" src="images/photography/Lale/FON00900.jpg">
        </a>
      </div>
      <div class="col-sm-6 col-md-4">
        <a class="lightbox" href="images/photography/Life in an object/1.jpg">
          <img class="thumbnail" src="images/photography/Life in an object/1.jpg">
        </a>
      </div>
      <div class="col-sm-6 col-md-8">
        <a class="lightbox" href="images/photography/Corona/lockdown_25.jpg">
          <img class="thumbnail" src="images/photography/Corona/lockdown_25.jpg">
        </a>
      </div>
      <div class="col-sm-6 col-md-4">
        <a class="lightbox" href="images/photography/Untitled/FON01187_1.jpg">
          <img class="thumbnail" src="images/photography/Untitled/FON01187_1.jpg">
        </a>
      </div>
      <div class="col-sm-6 col-md-4">
        <a class="lightbox" href="images/photography/Untitled/FON01191_1.jpg">
          <img class="thumbnail" src="images/photography/Untitled/FON01191_1.jpg">
        </a>
      </div>
      <div class="col-sm-6 col-md-4">
        <a class="lightbox" href="images/photography/Untitled/FON00023.jpg">
          <img class="thumbnail" src="images/photography/Untitled/FON00023.jpg">
        </a>
      </div>

    </div>

  </div>

</div>

<%- include("photographyFooter") -%>
