@use './abstracts' as a;
/*  */
/*  */
/* photography */
.photography {
    display: flex;
    flex-direction: column;
    height: 100vh;
  }
  #photography-board {
    // background-color: a.$primary-100;
    background-color: red;
    display: flex;
    flex-direction: column;
    height: 100vh;
  }
  .photography-board-nav {
    /* background-color: black; */
    flex-grow: 0;
    flex-shrink: 0;
  }
  .photography-board-content {
    // background-color: a.$primary-100;
    background-color: blue;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    flex: 1;
    position: relative;
    resize: horizontal;
  }
  .photography-board-content-navLinks {
    position: absolute;
    top: 25%;
    left: 24px;
  }
  .photography-board-logo {
    width: 48px;
  }
  .photography-board-content-activePage {
    color: white;
  }
  // /* photography sections */
  .photography-board-content-sections {
    color: white;
    display: flex;
    flex-shrink: 0;
    flex-grow: 1;
    gap: 32px;
    overflow-x: scroll;
    overscroll-behavior-inline: contain;
    padding: 16px 100px 40px 240px;
  
  }
  .photography-board-content-sections > * {
    display: flex;
    flex-direction: column;
    padding: 0;
    // width: a.$photography-images-width-desktop;
  }
  .photography-board-content-sections-imageLarge {
    flex-basis: 0;
    min-width: a.$photography-images-width-desktop;
    width: a.$photography-images-width-desktop;
  }
  .photography-board-content-sections-imageMedium {
    flex-basis: 0;
    min-width: a.$photography-images-medium-width-desktop;
    width: a.$photography-images-medium-width-desktop;
  }
  .photography-board-content-sections-imageSmall {
    flex-basis: 0;
    min-width: a.$photography-images-small-width-desktop;
    width: a.$photography-images-small-width-desktop;
  }
  .photography-board-content-sections-element-imageTop {
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: flex-start;
  }
  .photography-board-content-sections-element-imageMiddle {
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: center;
  }
  .photography-board-content-sections-element-imageBottom {
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: flex-end;
  }
  .photography-board-content-sections-image {
    // flex: 1;
    // inline-size: 100%;
    width: 100%;
    // max-height: 100%;
    // object-fit: contain;
    // box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
  }
  .photography-board-content-sections-image-medium {
    // align-self: center;
    // inline-size: 100%;
    // object-fit: contain;
    width: 100%;
    // box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
  }
  .photography-board-content-sections-image-small {
    // align-self: center;
    // inline-size: 100%;
    // object-fit: contain;
    width: 100%;
    // box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
  }
  .photography-board-content-sections-alt {
    color: a.$text-400;
    display: flex;
    justify-content: flex-end;
  }
  .photography-board-content-sections-textTop {
    align-self: flex-start;
    box-sizing: border-box;
    color: a.$background-400;
    display: table;
    min-height: 0;
    height: calc(60vh + 100px);
    min-width: a.$photography-images-width-desktop;
  }
  .photography-board-content-sections-textMiddle {
    align-self: center;
    box-sizing: border-box;
    color: a.$background-400;
    display: table;
    min-height: 0;
    height: calc(60vh + 100px);
    min-width: a.$photography-images-width-desktop;
  }
  .photography-board-content-sections-textBottom {
    align-self: flex-end;
    box-sizing: border-box;
    color: a.$background-400;
    display: table;
    height: 100%;
    max-height: 0;
    height: calc(60vh + 100px);
    min-width: a.$photography-images-width-desktop;
  }

  .photography-board-content-sections-element-textContent {
    // display: flex;
    // flex-direction: column;
    height: 100%;
    width: 100%;
    overflow: auto;
  }
  .photography-board-content-sections-textTitle {
    // flex: 1;
    // flex-grow: 0;
    width: 100%;
  }
  .photography-board-content-sections-textDescription {
    // flex: 1;
    // flex-grow: 0;
    // flex-shrink: 1;
    width: 100%;
  }
  #photography-board > .galleryFooter {
    background-color: a.$primary-100;
    display: flex;
    flex-grow: 0;
    flex-shrink: 0;
    height: 40px;
    justify-content: center;
  }
  #photography-board > .galleryFooter > .progress {
    align-items: center;
    background-color: a.$primary-400;
    display: flex;
    height: 100%;
  }
  #photography-board > .galleryFooter > .bar-mask > .progress > #bar {
    width: 60px;
    height: 30px;
    background-color: a.$primary-100;
    position: absolute;
  }
  .bar-mask {
    width: 60px;
    height: inherit;
    position: relative;
  }

  @media screen and (max-width: 600px) {
    /*  */
    /*  */
    /* photography */
    #photography-board {
      height: unset;
    }
    .photography-board-content {
      height: unset;
      max-height: unset;
    }
    .photography-board-content-projectTitle {
      color: white;
      padding: 16px auto;
      text-align: center;
    }
    .photography-board-content-sections {
      align-items: center;
      flex-direction: column;
      height: unset;
      justify-content: center;
      width: 100%;
      overflow-x: unset;
      overscroll-behavior-inline: unset;
      padding: 16px 16px 40px 16px;
    }
    .photography-board-content-sections-element {
      align-items: center;
      display: flex;
      flex-direction: column;
      // justify-content: center;
    }
    .photography-board-content-sections-imageLarge {
      min-width: 100%;
    }
    .photography-board-content-sections-imageMedium {
      min-width: 80vw;
    }
    .photography-board-content-sections-imageSmall {
      min-width: 60vw;
    }
    .photography-board-content-sections-element-imageTop {
      justify-content: center;
    }
    .photography-board-content-sections-element-imageMiddle {
      justify-content: center;
      margin: 0 auto;
    }
    .photography-board-content-sections-element-imageBottom {
      justify-content: center;
    }
    .photography-board-content-sections-alt {
      display: none;
    }
    .photography-board-content-sections-textTop {
      display: flex;
      flex-direction: column;
      flex: auto;
      min-width: unset;
      min-height: unset;
      height: unset;
      padding: 32px 0;
      width: 100%;
    }
    .photography-board-content-sections-textMiddle {
      display: flex;
      flex-direction: column;
      flex: auto;
      min-width: unset;
      min-height: unset;
      height: unset;
      padding: 32px auto;
      width: 100%;
    }
    .photography-board-content-sections-textBottom {
      display: flex;
      flex-direction: column;
      flex: auto;
      min-height: unset;
      min-width: unset;
      height: unset;
      padding: 32px auto;
      width: 100%;
    }
    .photography-board-content-sections-textTitle {
      width: 100%;
      max-width: 100%;
    }
    .photography-board-content-sections-textDescription {
      width: 100%;
    }
    #photography-board > .galleryFooter {
      display: none;
    }
  }

  @media (min-width: 601px) and (max-width: 991px) {

    .photography-board-content {
      flex-direction: column;
      flex-grow: 1;
    }
    .photography-board-content-projectTitle {
      color: white;
      padding: 16px 24px;
      text-align: left;
    }
    .photography-board-content-sections {
      color: white;
      display: flex;
      // height: 100%;
      gap: 32px;
      overflow-x: scroll;
      overscroll-behavior-inline: contain;
      padding: 16px 40px 40px 40px;
    }
    .photography-board-content-sections-textTop {
      min-width: 600px;
    }
    .photography-board-content-sections-textMiddle {
      min-width: 600px;
    }
    .photography-board-content-sections-textBottom {
      min-width: 600px;
    }
  }

  @media screen and (min-width: 1400px) {
    .photography-board-content-sections {
      padding: 16px 100px 40px 16vw;
    }
    .photography-board-content-sections-textTop {
      flex-basis: 0;
      max-width: 32vw;
      min-width: 32vw;
      width: 32vw;
    }
    .photography-board-content-sections-textMiddle {
      max-width: 32vw;
      min-width: 32vw;
      width: 32vw;
    }
    .photography-board-content-sections-textBottom {
      max-width: 32vw;
      min-width: 32vw;
      width: 32vw;
    }
  }