@use 'abstracts' as a;
/*  */
/*  */
/* Project page */
/* Section 1 Hero */
#project-hero {
display: flex;
flex-direction: column;
margin: 0 24px;
}
.project-hero-content {
display: flex;
flex-direction: column;
padding: 80px 0 40px 0;
width: 100%;
}
.project-hero-content-header-title {
margin-bottom: 16px;
}
.project-hero-content-header-subtitle {
margin-bottom: 24px;
}
.project-hero-content-header-description {
margin-bottom: 40px;
}
.project-hero-content-features {
display: flex;
justify-content: space-between;
gap: 16px;
}
.project-hero-content-features-item {
display: flex;
flex-basis: auto;
flex-direction: column;
flex-grow: 1;
gap: 24px;
max-width: 326px;
}
.project-hero-content-features-item-title {
}
.project-hero-content-features-item-content {
}
.project-hero-hr {
margin-bottom: 80px;
}

/* Section 2 Projects */
#project-projects {
display: flex;
flex-direction: column;
gap: 16px;
margin: 0 24px;
}
/* simple video */
.project-projects-simpleVideo {
display: flex;
background-color: a.$background-600;
justify-content: center;
margin: 16px 0;
}
.project-projects-simpleVideo-videoHolder {
margin: 40px 8.143% 40px 8.143%;
}
.project-projects-simpleVideo-video {
width: 100%;
}
/* simple image */
.project-projects-simpleImage {
display: flex;
background-color: a.$background-600;
justify-content: center;
margin: 16px 0;
}
.project-projects-simpleImage-imageHolder {
margin: 40px 8.143% 40px 8.143%;
}
.project-projects-simpleImage-image {
width: 100%;
}
/* simple text */
.project-projects-text {
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin: 56px 0;
}
/* mobile with 3 images */
.project-projects-mobile3Image {
background-color: a.$background-600;
margin: 16px 0;
padding: 40px 0;
}
.project-projects-mobile3Image-content {
display: flex;
justify-content: space-evenly;
gap: 16px;
}
.project-projects-mobile3Image-content-deviceHolder {
align-items: center;
display: flex;
height: a.$projectsIphone12Height;
justify-content: center;
overflow: hidden;
position: relative;
width: a.$projectsIphone12Width;
}
.project-projects-mobile3Image-content-deviceHolder-imageHolder {
align-items: center;
background-color: black;
border-radius: 15px;
display: flex;
flex-direction: column;
height: calc(var(--projectsIphone12Width)*(2.018)*0.96);
justify-content: center;
overflow: hidden;
position: absolute;
left: a.$projectsIphone12Width * 0.05277;
top: a.$projectsIphone12Width * 0.04684;
width: a.$projectsIphone12ContentWidth;
}
.project-projects-mobile3Image-content-deviceHolder-imageHolder-image {

width: a.$projectsIphone12ContentWidth;
/* height: 240px; */

}
.project-projects-mobile3Image-content-deviceHolder-maskGroup {

position: absolute;
left: 0;
top: 0;

width: a.$projectsIphone12Width;
/* height: 100px; */

}
.project-projects-mobile3Image-content-deviceHolder-maskGroup-mobileBody-iphone12 {
width: a.$projectsIphone12Width;
/* height: 100px; */
}
/* mobile with 3 video */
.project-projects-mobile3Video {
background-color: a.$background-600;
margin: 16px 0;
padding: 40px 0;
}
.project-projects-mobile3Video-content {
display: flex;
justify-content: space-evenly;
gap: 16px;
}
.project-projects-mobile3Video-content-deviceHolder {
align-items: center;
display: flex;
height: a.$projectsIphone12Height;
justify-content: center;
overflow: hidden;
position: relative;
width: a.$projectsIphone12Width;
}
.project-projects-mobile3Video-content-deviceHolder-videoHolder {
align-items: center;
background-color: black;
border-radius: 15px;
display: flex;
flex-direction: column;
height: a.$projectsIphone12ContentHeight;
justify-content: center;
overflow: hidden;
position: absolute;
left: a.$projectsIphone12Width * 0.05277;
top: a.$projectsIphone12Width * 0.04858 ;
width: a.$projectsIphone12ContentWidth;
}
.project-projects-mobile3Video-content-deviceHolder-videoHolder-video {

width: a.$projectsIphone12ContentWidth;
/* height: 240px; */

}
.project-projects-mobile3Video-content-deviceHolder-maskGroup {

position: absolute;
left: 0;
top: 0;

width: a.$projectsIphone12Width;
/* height: 100px; */

}
.project-projects-mobile3Video-content-deviceHolder-maskGroup-mobileBody-iphone12 {
width: a.$projectsIphone12Width;
/* height: 100px; */
}
/* laptop video */
.project-projects-laptopVideo {
background-color: a.$background-600;
display: flex;
justify-content: center;
margin: 16px 0;
padding: 40px 0;
}
.project-projects-laptopVideo-macbook {
display: flex;
height: a.$projectMacbookHeight-fullscreen;
justify-content: center;
overflow: hidden;
position: relative;
width: a.$projectMacbookWidth-fullscreen;
}
.project-projects-laptopVideo-macbook-videoHolder {
align-items: center;
background-color: black;
border-radius: 10px;
display: flex;
flex-direction: column;
height: inherit;
justify-content: center;
position: relative;
width: a.$projectMacbookContentWidth-fullscreen;
}
.project-projects-laptopVideo-macbook-videoHolder-video {

position: relative;
/* left: 8.8725%; */
/* top: 1.8526%; */
top: 0.57%;

width: a.$projectMacbookContentWidth-fullscreen;
/* height: 240px; */

}
.project-projects-laptopVideo-maskGroup {

position: absolute;
left: 0;
top: 0;

width: a.$projectMacbookWidth-fullscreen;
/* height: 100px; */

}
.project-projects-laptopVideo-maskGroup-macbookBody {
width: a.$projectMacbookWidth-fullscreen;
/* height: 100px; */

}
/* laptop image */
.project-projects-laptopImage {
background-color: a.$background-600;
display: flex;
justify-content: center;
margin: 16px 0;
padding: 40px 0;
}
.project-projects-laptopImage-macbook {
display: flex;
height: a.$projectMacbookHeight-fullscreen;
justify-content: center;
overflow: hidden;
position: relative;
width: a.$projectMacbookWidth-fullscreen;
}
.project-projects-laptopImage-macbook-imageHolder {
align-items: center;
background-color: black;
border-radius: 10px;
display: flex;
flex-direction: column;
height: inherit;
justify-content: center;
position: relative;
width: a.$projectMacbookContentWidth-fullscreen;
}
.project-projects-laptopImage-macbook-imageHolder-image {

position: relative;
/* left: 8.8725%; */
/* top: 1.8526%; */
top: 0.57%;

width: a.$projectMacbookContentWidth-fullscreen;
/* height: 240px; */

}
.project-projects-laptopImage-maskGroup {

position: absolute;
left: 0;
top: 0;

width: a.$projectMacbookWidth-fullscreen;
/* height: 100px; */

}
.project-projects-laptopImage-maskGroup-macbookBody {
width: a.$projectMacbookWidth-fullscreen;
/* height: 100px; */

}
/* mobile se 1 video */
.project-projects-mobileSE1Video {
background-color: a.$background-600;
display: flex;
justify-content: center;
margin: 16px 0;
padding: 40px 0;
}
.project-projects-mobileSE1Video-mobile {
align-items: center;
display: flex;
height: a.$projectMobileHeight-fullscreen;
justify-content: center;
overflow: hidden;
position: relative;
width: a.$projectMobileWidth-fullscreen;
}
.project-projects-mobileSE1Video-mobile-videoHolder {
align-items: center;
background-color: black;
border-radius: 10px;
display: flex;
flex-direction: column;
height: a.$projectMobileContentHeight-fullscreen;
justify-content: center;
overflow: hidden;
width: a.$projectMobileContentWidth-fullscreen;
}
.project-projects-mobileSE1Video-mobile-videoHolder-video{

width: a.$projectMobileContentWidth-fullscreen;
/* height: 240px; */

}
.project-projects-mobileSE1Video-mobile-maskGroup {

position: absolute;
left: 0;
top: 0;

width: a.$projectMobileWidth-fullscreen;
/* height: 100px; */

}
.project-projects-mobileSE1Video-mobile-mobileBody {
width: a.$projectMobileWidth-fullscreen;
/* height: 100px; */

}
/* cta */
#project-cta {
display: flex;
flex-direction: column;
gap: 16px;
margin: 56px 24px;
}
.project-cta-hr {

}
.project-cta-button {
margin: 16px 0;
}

/*  */
/*  */
/* Graphics page */
.graphics-setOf3Images {
margin: 0;
/* padding: 40px 0; */
}
.graphics-setOf3Images-content {
display: flex;
width: 100%;
}
.graphics-setOf3Images-content-imageHolder {
background-color: a.$background-600;
margin: 16px 8px;
padding: 40px 40px;
width: 100%
}
.graphics-setOf3Images-content-imageHolder-image {
width: 100%
}

@media screen and (max-width: 600px) {
        /*  */
    /*  */
    /* Project page */
    /* hero */
    .project-hero-content-features {
    flex-direction: column;
    }
    /* sections */
    .project-hero-content-features-item {
    max-width: 100%;
    }
    /* simple video */
    .project-projects-simpleVideo {
    margin: 0;
    }
    .project-projects-simpleVideo-videoHolder {
    margin: 16px 4% 16px 4%;
    }
    /* simple image */
    .project-projects-simpleImage {
    margin: 0;
    }
    .project-projects-simpleImage-imageHolder {
    margin: 16px 4% 16px 4%;
    }
    /* simple text */
    .project-projects-text {
    margin: 16px 0;
    }
    /* mobile with 3 images */
    .project-projects-mobile3Image {
    background-color: a.$background-600;
    margin: 16px 0;
    padding: 16px 0;
    }
    .project-projects-mobile3Image-content-deviceHolder-imageHolder {
    border-radius: 7px;
    }
    /* mobile with 3 videos */
    .project-projects-mobile3Video {
    background-color: a.$background-600;
    margin: 16px 0;
    padding: 16px 0;
    }
    .project-projects-mobile3Video-content-deviceHolder-videoHolder {
    border-radius: 7px;
    }
    /* laptop video */
    .project-projects-laptopVideo {
    margin: 16px 0;
    padding: 16px 0;
    }
    .project-projects-laptopVideo-macbook {
    height: a.$projectMacbookHeight-fullscreen-mobile;
    width: a.$projectMacbookWidth-fullscreen-mobile;
    }
    .project-projects-laptopVideo-macbook-videoHolder {
    border-radius: 5px;
    width: a.$projectMacbookContentWidth-fullscreen-mobile;
    }
    .project-projects-laptopVideo-macbook-videoHolder-video {
    width: a.$projectMacbookContentWidth-fullscreen-mobile;
    }
    .project-projects-laptopVideo-maskGroup {
    width: a.$projectMacbookWidth-fullscreen-mobile;
    }
    .project-projects-laptopVideo-maskGroup-macbookBody {
    width: a.$projectMacbookWidth-fullscreen-mobile;
    }
    /* laptop image */
    .project-projects-laptopImage {
    margin: 16px 0;
    padding: 16px 0;
    }
    .project-projects-laptopImage-macbook {
    height: a.$projectMacbookHeight-fullscreen-mobile;
    width: a.$projectMacbookWidth-fullscreen-mobile;
    }
    .project-projects-laptopImage-macbook-imageHolder {
    border-radius: 5px;
    width: a.$projectMacbookContentWidth-fullscreen-mobile;
    }
    .project-projects-laptopImage-macbook-imageHolder-image {
    width: a.$projectMacbookContentWidth-fullscreen-mobile;
    }
    .project-projects-laptopImage-maskGroup {
    width: a.$projectMacbookWidth-fullscreen-mobile;
    }
    .project-projects-laptopImage-maskGroup-macbookBody {
    width: a.$projectMacbookWidth-fullscreen-mobile;
    }
    /* mobile se 1 video */
    .project-projects-mobileSE1Video {
    margin: 16px 0;
    padding: 16px 0;
    }
    .project-projects-mobileSE1Video-mobile {
    height: a.$projectMobileHeight-fullscreen-mobile;
    width: a.$projectMobileWidth-fullscreen-mobile;
    }
    .project-projects-mobileSE1Video-mobile-videoHolder {
    border-radius: 5px;
    height: a.$projectMobileContentHeight-fullscreen-mobile;
    width: a.$projectMobileContentWidth-fullscreen-mobile;
    }
    .project-projects-mobileSE1Video-mobile-videoHolder-video {
    width: a.$projectMobileContentWidth-fullscreen-mobile;
    }
    .project-projects-mobileSE1Video-mobile-maskGroup {
    width: a.$projectMobileWidth-fullscreen-mobile;
    }
    .project-projects-mobileSE1Video-mobile-mobileBody {
    width: a.$projectMobileWidth-fullscreen-mobile;
    }
    /* set of 3 images */
    .graphics-setOf3Images-content {
    flex-direction: column;
    }
}