@use 'abstracts' as a;
@use './landing-page';
@use './project';
@use './photography';
@use './contact';
@use './footer';

* {
  box-sizing: border-box;
}
/* Tages */
body {
  box-sizing: border-box;
  font-family: 'Ubuntu','Poppins', sans-serif;
  font-size: 18px;
  color: a.$text-400;
  margin: 0 auto;
  // max-width: 1400px;
  // overscroll-behavior-y: none;
  padding: 0;
  position: relative;
}
body.mine {
  /* text-align: center; */
}
h1 {
  font-size: 3.5em;
  font-weight: 500;
}
h2 {
  font-size: 2.25em;
  font-weight: 500;
}
h3 {
  font-size: 1.375em;
  font-weight: 500;
}
p {
  font-size: 1.125em;
  font-weight: 400;
}
a {
  color: a.$link-400;
  text-decoration : none;
}
.btn-link {
  color: a.$link-400;
  margin: 0;
  padding: 0;
  text-decoration : none;
}
div {
  margin: 0;
  padding: 0;
}
nav {
  z-index: 999;
}
#text {
  margin: 0;
  padding: 0;
}
.ubuntu-9xl-144px-bold {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 700;
  font-size: 144px;
  line-height: 100%;
  letter-spacing: -0.04em;
}
.ubuntu-h3-48px-bold {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 120%;
  letter-spacing: -0.01em;
}
.ubuntu-h5-24px-bold {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 140%;
}
.ubuntu-body1-18px-regular {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
}
.ubuntu-body1-18px-light {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 150%;
}
.ubuntu-body1-18px-medium {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;
}
.ubuntu-body1-18px-bold {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 150%;
}
.ubuntu-body2-14px-light {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 160%;
}
.hr-main {
  border: 0 none;
  border-top: 4px solid a.$secondary-400;
}
.hr-secondary {
  border: 0 none;
  border-top: 4px solid a.$background-600;
}
.hr-tertiary {
  border: 0 none;
  border-top: 4px solid a.$text-400;
}
i.social {
  margin-right: 0.625rem;
}
#globalLightTransitionCover {
  @include a.flexRowCenterXY;
  // left: 0;
  // background-color: rgba(0,0,0,0.5);
  background-color: black;
  height: 100%;
  position: fixed;
  bottom: 0%;
  // display: block;
  width: 100%;
  z-index: 99;
}
.globalLightTransitionCover-animation-box {
  width: 8vw;
  height: 8vw;
  // border: 1px dashed rgba(255,255,255,0.4);
  position: relative;
}
.globalLightTransitionCover-animation-spinContainer {
  width: 100%;
  height: 100%;
  animation: spin 12s linear infinite;
  position: relative;
}
// .globalLightTransitionCover-animation-holder {
//   border-radius: 30% 70% 32% 68% / 36% 30% 70% 64%;
//   height: 98px;
//   margin: auto;
//   overflow: hidden;
//   position: relative;
//   width: 98px;
//   z-index: 999;
// }
.globalLightTransitionCover-animation-holder {
  width: 100%;
  height: 100%;
  transition: border-radius 1s ease-out;
  border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
  animation: morph 8s ease-in-out infinite both alternate;
  position: absolute;
  overflow: hidden;
  z-index: 999;
}
.globalLightTransitionCover-animation-holder-bd {
  width: 142%;
  height: 142%;
  position: absolute;
  left: -21%;
  top: -21%;
  // background: url(https://images.unsplash.com/photo-1519345182560-3f2917c472ef?ixlib=rb-0.3.5&q=85&fm=jpg&crop=entropy&cs=srgb&ixid=eyJhcHBfaWQiOjE0NTg5fQ&s=2868fd5c3f30697d38732224e0ef51ed);
  background-size: 100%;
  background-position: center center;
  display: flex;
  color: #003;
  font-size: 5vw;
  font-weight: bold;
  align-items: center;
  justify-content: center;
  text-align: center;
  text-transform: uppercase;
  animation: spin 12s linear infinite reverse;
  opacity: 1;
  z-index: 2;
}
.globalLightTransitionCover-animation-img {
  width: 80%;
  height: 80%;
}
.show-globalLightTransitionCover {
  animation: revealCover 0.5s forwards;
  -webkit-animation: revealCover 0.5s cubic-bezier(0.42, 0.0, 1.0, 1.0) forwards;
}
.hide-globalLightTransitionCover {
  animation: putCover 0.5s forwards;
  -webkit-animation: putCover 0.3s cubic-bezier(0.42, 0.0, 1.0, 1.0) forwards;
}
.photography-board-content-sections::-webkit-scrollbar{
  height: 4px;
  width: 4px;
  /* background: gray; */
}
.photography-board-content-sections::-webkit-scrollbar:horizontal{
  display: none;
}
@supports ( scrollbar-color: grey grey ) {
  *{
    /* scrollbar-color: transparent; */
    scrollbar-width: none;
  }
}
@keyframes revealCover {
  0% {
    bottom: 0%;
  }
  99% {
    bottom: 100%;
  }
  100% {
    bottom: 100%;
  }
}
@keyframes putCover {
  from {
    bottom: 100%;
  }
  to {
    bottom: 0%;
  }
}
@keyframes morph {
  0% {border-radius: 40% 60% 60% 40% / 60% 30% 70% 40%;} 
  100% {border-radius: 40% 60%;} 
}

@keyframes spin {
  to {
    transform: rotate(1turn);
  }
}

/* Components */
.textButton {
  font-size: 1.375rem;
  color: #ebac4e;
}
section#snow {
  position: relative;
  z-index: 4;
}
.snaps-inline {
  scroll-snap-type: inline mandatory;
  /* scroll-padding-inline: 240px; */
}
/* .snaps-inline > * {
  scroll-snap-align: start;
} */
.hide {
  display: none;
}

/* Bootstrap */
.btn-primary {
  background-color: a.$primary-400;
}
.link-400 {
  color: a.$link-400;
}
.dropdown-item {
  padding: 4px 16px;
}

@media screen and (max-width: 600px) {

  .globalLightTransitionCover-animation-box {
    width: 98px;
    height: 98px;
  }

  /* root stylings */
  .ubuntu-9xl-144px-bold {
    font-size: 24vw;
  }
  .ubuntu-h3-48px-bold {
    font-size: max(8vw, 24px);
  }
  .ubuntu-h5-24px-bold {
    font-size: max(4vw, 18px);
  }

}

@media screen and (min-width: 1400px) {
  body{
    font-size: 1.2vw;
  }
  a {
    font-size: 1.2vw;
  }
  .btn-link {
    font-size: 1.2vw;
  }
  .ubuntu-9xl-144px-bold {
    font-size: 10vw;
  }
  .ubuntu-h3-48px-bold {
    font-size: 3vw;
  }
  .ubuntu-h5-24px-bold {
    font-size: 1.8vw;
  }
  .ubuntu-body1-18px-regular {
    font-size: 1.2vw;
  }
  .ubuntu-body1-18px-light {
    font-size: 1.2vw;
  }
  .ubuntu-body1-18px-medium {
    font-size: 1.2vw;
  }
  .ubuntu-body1-18px-bold {
    font-size: 1.2vw;
  }
  .ubuntu-body2-14px-light {
    font-size: 1vw;
  }

}